name: Publish every Git push to main to FlakeHub
on:
  push:
    branches:
      - main
jobs:
  flakehub-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flakehub-push@main
        with:
          name: gametaro/neovim-flake
          rolling: true
          visibility: public
